<!--
  **NOTE:** This is a template for index.html.
  It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have hash-based filenames,
  so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/.
  For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% if (htmlWebpackPlugin.options.trackJSTocken) { %>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS && TrackJS.install({ 
      token: "<%=htmlWebpackPlugin.options.trackJSTocken%>"
      // for more configuration options, see https://docs.trackjs.com
    });
  </script>
  <% } %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JSDevKit</title>
</head>
<body>
  <h1>Users</h1>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>eMail</th>
      </tr>
    </thead>
    <tbody id="users">
      
    </tbody>
  </table>
<!-- webpack add the link to the bundle.js -->
</body>
</html>
